#For Generate auth Secret, show AuthJs Intallation  
AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
# Here add mailtrap user and password to send otp mail
EMAIL_USER=
EMAIL_PASSWORD=
APP_DOMAIN=

# DataBase uri with db name
MONGO_URI=mongodb://127.0.0.1:27017/nextdb